{% load staticfiles %}
<!DOCTYPE html>
<html>
<head>
	<!-- Google Icon Font -->
	<link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

	<!-- Import Materialize CSS -->
	<link rel="stylesheet" type="text/css" href="/static/css/materialize.min.css" media="screen,projection"/>

	<!-- Let browser know the website is optimized for mobile -->
	<meta name="viewport" content="width=device-width, initial-scale=1.0"/>

	<title>{% block title %} {% endblock %} | Toa Sauti </title>
</head>
<body>

  {% block navbar %}

	<nav class="blue z-depth-3">
		<div class="nav-wrapper">
			<a href="{% url 'home' %}" class="brand-logo">Toa Sauti</a>
			<a href="#mobile-demo" data-activates="mobile-demo" class="button-collapse">
			<i class="material-icons">menu</i> </a>

			<ul class="right hide-on-med-and-down">
				<li> <a href="{% url 'new_report' %}"> Report </a> </li>
				<li> <a href="{% url 'about' %}"> About </a> </li>
			</ul>

			<ul class="side-nav" id="mobile-demo" style="opacity: 0.8;">
				<li> <a href="{% url 'new_report' %}"> Report </a> </li>
				<li> <a href="{% url 'about' %}"> About </a> </li>
			</ul>
		</div>
	</nav>
	
  {% endblock %}

	<div class="container" style="padding: 10px; margin: 0 auto;">

		{% block content %}

		{% endblock %}

	</div>

  {% block footer %}

    <footer class="page-footer blue">
        <div class="container">
            <div class="row">
                <div class="col l6 s12">
                    <h5 class="white-text">Toa Sauti</h5>
                    <p class="grey-text text-lighten-4">Here you can add more details</p>
                </div>
                <div class="col l4 offset-l2 s12">
                    <h5 class="white-text">Links</h5>
                    <ul>
                        <li>Link 1</li>
                        <li>Link 1</li>
                        <li>Link 1</li>
                    </ul>
                </div>
            </div>
        </div>

        <div class="footer-copyright">
            <div class="container">
                2017 &copy; Toa Sauti.
                <a class="grey-text text-lighten-4 right" href="{% url 'about' %}">More Details</a>
            </div>
        </div>
    </footer>

  {% endblock %}

    <!-- Import jQuery before Materialize.js -->
    <script type="text/javascript" src="/static/js/jquery-3.1.1.min.js"></script>
    <script type="text/javascript" src="/static/js/materialize.min.js"></script>
{#    <script type="text/javascript" src="/templates/toasauti/service-worker.js"></script>#}

    <script type="text/javascript">
	    $(document).ready(function(){
		    $('.button-collapse').sideNav();
	    });

        $(document).ready(function(){
            $('select').material_select();
        });

        $('.datepicker').pickadate({
            selectMonths: true,
            selectYears: 15
        });
    </script>

</body>

</html>