{% extends 'toasauti/base.html' %}

	{% block title %}

		Home

	{% endblock %}

	{% block navbar %}
	 <div class="navbar-fixed">

	  <nav class="teal z-depth-3" style="background: transparent">
		<div class="nav-wrapper">
			<a href="#" class="brand-logo white-text">Toa Sauti</a>
			<a href="#mobile-demo" data-activates="mobile-demo" class="button-collapse">
			<i class="material-icons white-text">menu</i> </a>

			<ul class="right hide-on-med-and-down">
				<li> <a href="{% url 'home' %}" class="white-text"> Home </a> </li>
        <li> <a href="{% url 'new_report' %}" class="white-text"> Report </a> </li>
				<li> <a href="{% url 'about' %}" class="white-text"> About </a> </li>
			</ul>

			<!-- <ul class="side-nav" id="mobile-demo" style="opacity: 0.8; height: 100%; margin-top: 56px;"> -->
			<ul class="side-nav" id="mobile-demo" style="opacity: 0.8">
				<div class="">
					<img src="/static/img/background1.jpg" style="height: 100px; width: 200px;">
				</div>
				<div class="divider"></div>
				<li> <a href="{% url 'home' %}"> Home </a> </li>
        <li> <a href="{% url 'new_report' %}"> Report </a> </li>
				<li> <a href="{% url 'about' %}"> About </a> </li>
			</ul>
		</div>
	  </nav>

	</div>

  {% endblock %}


	{% block content %}

        <div id="index-banner" class="parallax-container">

          <div class="section no-pad-bot">
            <div class="container">
              <br><br>
              <h1 class="header center teal-text text-lighten-2">Welcome to Toa Sauti.</h1>
              <div class="row center">
                <h5 class="header col s12 light">A tool designed to enable the public to give valuable information
                to the authorities. </h5>
              </div>
              <div class="row center">
                <a href="{% url 'new_report' %}" class=" waves-effect waves-light teal btn">Submit a report</a>
              </div>
              <br><br>

            </div>
          </div>
          <div class="parallax"><img src="/static/img/background1.jpg" alt="Unsplashed background img 1"></div>
        </div>


        <div class="container">
          <div class="section">

            <!--   Icon Section   -->
            <div class="row">
              <div class="col s12 m4">
                <div class="icon-block">
                  <h2 class="center brown-text"><i class="material-icons">flash_on</i></h2>
                  <h5 class="center">Fast</h5>

                  <p class="light">
                      Submit your report quickly and instantly. The website loads fast and the process in quick.
                      Get the information to the authorities in a matter of seconds and your effort will make our roads safer.
                      The information posted here goes directly to the NTSA and is acted upon instantly.
                  </p>
                </div>
              </div>

              <div class="col s12 m4">
                <div class="icon-block">
                  <h2 class="center brown-text"><i class="material-icons">group</i></h2>
                  <h5 class="center">Got evidence?</h5>

                  <p class="light">
                      The tool allows you to upload photographs, videos or audio recordings as part of the evidence that
                      can be used to bring the offenders to justice.
                      Take part in this initiative to make our roads a better place.
                  </p>
                </div>
              </div>

              <div class="col s12 m4">
                <div class="icon-block">
                  <h2 class="center brown-text"><i class="material-icons">settings</i></h2>
                  <h5 class="center">Easy to work with</h5>

                  <p class="light">
                      The website is responsive making it easier to access and use on any device.
                      Spot anything? Your phone is good enough to access it.
                  </p>
                </div>
              </div>
            </div>

          </div>
        </div>


        <div class="parallax-container valign-wrapper">
          <div class="section no-pad-bot">
            <div class="container">
              <div class="row center">
                <h5 class="header col s12 light">Let us join hands and help the authorities make our roads safer.</h5>
              </div>
            </div>
          </div>
          <div class="parallax"><img src="/static/img/background2.jpg" alt="Unsplashed background img 2"></div>
        </div>

        <div class="container">
          <div class="section">

            <div class="row">
              <div class="col s12 center">
                <h3><i class="mdi-content-send brown-text"></i></h3>
                <h4>Partners</h4>
                  <div class="row">
                        <div class="card col l4 m4 s12">
                            <div class="card-image waves-effect waves-block waves-light">
                                <img class="activator" src="/static/img/ntsa.png">
                            </div>
                        <div class="card-content">
                            <span class="card-title activator grey-text text-darken-4">National Transport and Safety Authority<i class="material-icons right">more_vert</i></span>
                              <!--  <p><a href="http://www.ntsa.go.ke" target="_blank">Visit</a></p> -->
                            <p> Click for information </p>
                        </div>
                        <div class="card-reveal">
                            <span class="card-title grey-text text-darken-4">National Transport and Safety Authority<i class="material-icons right">close</i></span>
                            <p>The National Transport and safety Authority was established through an Act of Parliament; Act Number 33 on 26th October 2012.
                               The objective of forming the Authority was to harmonize the operations of the key road transport departments and help in
                                effectively managing the road transport sub-sector and minimizing loss of lives through road crashes.</p>
                            <span><a href="http://www.ntsa.go.ke" target="_blank">Visit</a></span>
                        </div>
                    </div>
                  </div>
              </div>
            </div>

          </div>
        </div>


        <div class="parallax-container valign-wrapper">
          <div class="section no-pad-bot">
            <div class="container">
              <div class="row center">
                <h5 class="header col s12 light">We Are Social</h5>
              </div>
            </div>
          </div>
          <div class="parallax"><img src="/static/img/background3.jpg" alt="Unsplashed background img 3"></div>
        </div>

	{% endblock %}
