{% extends 'toasauti/base.html' %}

	{% block title %}
	
		Home
	
	{% endblock %}

	{% block navbar %}

	  <nav class="blue z-depth-3">
		<div class="nav-wrapper">
			<a href="#" class="brand-logo">Toa Sauti</a>
			<a href="#mobile-demo" data-activates="mobile-demo" class="button-collapse">
			<i class="material-icons">menu</i> </a>

			<ul class="right hide-on-med-and-down">
				<li> <a href="{% url 'home' %}"> Home </a> </li>
                <li> <a href="{% url 'new_report' %}"> Report </a> </li>
				<li> <a href="{% url 'about' %}"> About </a> </li>
			</ul>

			<ul class="side-nav" id="mobile-demo" style="opacity: 0.8;">
				<li> <a href="{% url 'home' %}"> Home </a> </li>
                <li> <a href="{% url 'new_report' %}"> Report </a> </li>
				<li> <a href="{% url 'about' %}"> About </a> </li>
			</ul>
		</div>
	  </nav>
	  
  {% endblock %}


	{% block content %}

		    <div class="card-panel col s12 m6 l3">
			    <p>
                    Welcome to Toa Sauti! A tool designed to enable the public to give valuable information
                    to the authorities.
                </p>
                <br><br><br>
                <a href="{% url 'new_report' %}" class=" waves-effect waves-light blue btn">Submit a report</a>
		    </div>

        <div class="row">
            About us
        </div>

	{% endblock %}
